body, html {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #F9E6E5;
}

header {
    background-color: #E0D6EF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    height: 80px;
    width: auto;  /* Maintain aspect ratio */
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #A35476;
    font-weight: bold;
    font-family: 'Inria Sans', sans-serif;
    display: flex;
    align-items: center;
    gap: 5px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.cart-container {
    background-color: #EDD3E9;
    padding: 20px; /* Reduced padding */
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%; /* Adjusted width to fit the page */
    max-width: 400px; /* Maximum width */
}

.cart-icon {
    font-size: 100px;
    color: #5784BD; /* Dark blue */
}

.cost {
    margin-top: 20px;
}

.cost input {
    padding: 10px; /* Increased padding */
    border: 1px solid #D58FE7;
    border-radius: 5px;
    font-size: 1em;
    background-color: #F3E0F7;
    width: 80%; /* Full width */
    height: 30px; /* Increased height */
}

.cost span {
    font-size: 20px;
    color: #5784BD; /* Dark blue */
}

.purchased-products {
    margin-top: 20px;
    color: #5784BD; /* Dark blue */
}

button {
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #D58FE7;
    color: white;
    font-size: 1em;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    margin-top: 15px; /* Added margin to create space between input and button */
}

button:hover {
    background-color: #A35476; /* Dark pink on hover */
}